.grid {
    display: flex;
    border: 1px solid blue;
    height: 90vmin;
    width: 90vmin;
    flex-direction: column;
}
.row {
    display: flex;
    flex: 1;
}
.pixel {
    flex: 1;
    background-color: black;
}